<p style="color: green"><%= notice %></p>
<div class ="main-container">
    <div class="main-header">
    <%= image_tag("adnu-seal.png") %>
    </div>
<%= render @student %>

<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
