<p style="color: green"><%= notice %></p>
<div class ="main-container">
    <div class="main-header">
    <%= image_tag("adnu-seal.png") %>
    </div>

    <%= render @subject %>
    <% if @subject.courses.present? %>
      <h2>List of Students</h2>
      <table>
        <thead class="header">
          <td>Student Name</td>
          <td>Year Level</td>
          <td>Number of Units</td>
        </thead> 
        <tbody>
          <% @subject.courses.each do |course|%>
            <tr>
              <td><%=course.student.name%></td>
              <td><%=course.student.year_level%></td>
              <td><%=course.student.number_of_units%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  
    <div>
      <%= link_to "Edit this subject", edit_subject_path(@subject) %> |
      <%= link_to "Back to subjects", subjects_path %>

      <%= button_to "Destroy this subject", @subject, method: :delete %>
</div>
